{% extends "base.html" %}
{% block title %} Guestbook {% endblock %}
{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Enter another details</a>.
            </div>
        {% endif %}
{% endwith %}
{% if message %}
  <div class="notification is-success">
      {{ message }}...!Enter another details</a>.
  </div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col">

      <h2 class="title">Enter Your Book Details</h3>
      <hr>

     <form method="POST" action="/datas/create_entry">
       <div class="field">
          <div class="control">
              <input class="input is-large" id="name" name="title" placeholder="Title">
          </div>
        </div>

      <div class="field">
          <div class="control">
              <textarea class="input is-large" cols="30" name= "content" rows="3" id="content" placeholder="Book Content"></textarea>
          </div>
      </div>

      <button style="background-color: #d46f29" class="button is-block is-info is-large is-fullwidth" id="submit" onclick="submit_message();" type="submit" value="Add">Submit Details</button>
    </form>
    </div>
  </div>
</div>

{% block script %}

<!-- <script>

  function submit_message() {

    var name = document.getElementById("name");
    var content = document.getElementById("content");

    var entry = {
      name: name.value,
      content: content.value
    };

    fetch(`${window.origin}/datas/create-entry`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(entry),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
    })
      .then(function (response) {
        if (response.status !== 200) {
          console.log(`Looks like there was a problem. Status code: ${response.status}`);
          return;
        }
        response.json().then(function (data) {
          console.log(data);
        });
      })
      .catch(function (error) {
        console.log("Fetch error: " + error);
      });

  }

</script>
 -->

{% endblock %}
{% endblock %}
